
/* ==========================================================================
   🔤 FUENTE: GoogleSansFlex_120pt (Peso: 400)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.googleFlex400 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 400 !important;
}

/* ==========================================================================
   🔤 FUENTE: GoogleSansFlex_120pt (Peso: 900)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.googleFlex900 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 900 !important;
}

/* ==========================================================================
   🔤 FUENTE: GoogleSansFlex_120pt (Peso: 700)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.googleFlex700 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 700 !important;
}

/* ==========================================================================
   🔤 FUENTE: GoogleSansFlex_120pt (Peso: 500)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.googleFlex500 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 500 !important;
}
