/* ==========================================================================
   🔤 FUENTES PERSONALIZADAS DEL PROYECTO
   ========================================================================== */

/* ==========================================================================
   🔤 FUENTE ESTÁTICA: GoogleSansFlex_120pt (Peso: 400)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.googleFlex {
  font-family: 'GoogleSansFlex_120pt' !important;
}

.googleFlex400 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 400 !important;
}

/* ==========================================================================
   🔤 FUENTE ESTÁTICA: GoogleSansFlex_120pt (Peso: 500)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.googleFlex500 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 500 !important;
}

/* ==========================================================================
   🔤 FUENTE ESTÁTICA: GoogleSansFlex_120pt (Peso: 700)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.googleFlex700 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 700 !important;
}

/* ==========================================================================
   🔤 FUENTE ESTÁTICA: GoogleSansFlex_120pt (Peso: 900)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex120pt/GoogleSansFlex_120pt-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.googleFlex900 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 900 !important;
}


/* ==========================================================================
   🔤 FUENTE ESTÁTICA: GoogleSansFlex_120pt (Peso: 200)
   ========================================================================== */

@font-face {
  font-family: 'GoogleSansFlex_120pt';
  src: url('/App/Rsc/Fonts/googlesansflex_120pt/GoogleSansFlex_120pt-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

.googleFlex200 {
  font-family: 'GoogleSansFlex_120pt' !important;
  font-weight: 200 !important;
}

/* ==========================================================================
   🔤 FUENTE ESTÁTICA: oswald (Peso: 600)
   ========================================================================== */

@font-face {
  font-family: 'oswald';
  src: url('/App/Rsc/Fonts/oswald/Oswald-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.oswald {
  font-family: 'oswald' !important;
}

.oswald600 {
  font-family: 'oswald' !important;
  font-weight: 600 !important;
}

/* ==========================================================================
   🔤 FUENTE ESTÁTICA: oswald (Peso: 700)
   ========================================================================== */

@font-face {
  font-family: 'oswald';
  src: url('/App/Rsc/Fonts/oswald/Oswald-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.oswald700 {
  font-family: 'oswald' !important;
  font-weight: 700 !important;
}
