/* Generado automáticamente por JitCssModule (Modular) */
.container { max-width: 90%; width: var(--width-window); margin: 0 auto; }

.container-xl { width: 100%; margin: 0px; max-width: none; }

.gap0 { gap: 0px; }
.gap10 { gap: 10px; }
.gap15 { gap: 15px; }
.gap2 { gap: 2px; }
.gap20 { gap: 20px; }
.gap5 { gap: 5px; }
.gap8 { gap: 8px; }
.flex-column.around-start, .flex-column-desk.around-start, .flex-column-mid.around-start, .flex-column-sml.around-start { justify-content: space-around; align-items: start; }
  .flex-row.around-start, .flex-row-desk.around-start, .flex-row-mid.around-start, .flex-row-sml.around-start { align-items: space-around; justify-content: start; }
.flex-column.between-center, .flex-column-desk.between-center, .flex-column-mid.between-center, .flex-column-sml.between-center { justify-content: space-between; align-items: center; }
  .flex-row.between-center, .flex-row-desk.between-center, .flex-row-mid.between-center, .flex-row-sml.between-center { align-items: space-between; justify-content: center; }
.flex-column.center-around, .flex-column-desk.center-around, .flex-column-mid.center-around, .flex-column-sml.center-around { justify-content: center; align-items: space-around; }
  .flex-row.center-around, .flex-row-desk.center-around, .flex-row-mid.center-around, .flex-row-sml.center-around { align-items: center; justify-content: space-around; }
.flex-column.center-between, .flex-column-desk.center-between, .flex-column-mid.center-between, .flex-column-sml.center-between { justify-content: center; align-items: space-between; }
  .flex-row.center-between, .flex-row-desk.center-between, .flex-row-mid.center-between, .flex-row-sml.center-between { align-items: center; justify-content: space-between; }
.flex-column.center-center, .flex-column-desk.center-center, .flex-column-mid.center-center, .flex-column-sml.center-center { justify-content: center; align-items: center; }
  .flex-row.center-center, .flex-row-desk.center-center, .flex-row-mid.center-center, .flex-row-sml.center-center { align-items: center; justify-content: center; }
.flex-column.center-end, .flex-column-desk.center-end, .flex-column-mid.center-end, .flex-column-sml.center-end { justify-content: center; align-items: end; }
  .flex-row.center-end, .flex-row-desk.center-end, .flex-row-mid.center-end, .flex-row-sml.center-end { align-items: center; justify-content: end; }
.flex-column.center-start, .flex-column-desk.center-start, .flex-column-mid.center-start, .flex-column-sml.center-start { justify-content: center; align-items: start; }
  .flex-row.center-start, .flex-row-desk.center-start, .flex-row-mid.center-start, .flex-row-sml.center-start { align-items: center; justify-content: start; }
.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.no-wrap { flex-wrap: nowrap; }
.flex-column.top-between, .flex-column-desk.top-between, .flex-column-mid.top-between, .flex-column-sml.top-between { justify-content: start; align-items: space-between; }
  .flex-row.top-between, .flex-row-desk.top-between, .flex-row-mid.top-between, .flex-row-sml.top-between { align-items: start; justify-content: space-between; }
.flex-column.top-center, .flex-column-desk.top-center, .flex-column-mid.top-center, .flex-column-sml.top-center { justify-content: start; align-items: center; }
  .flex-row.top-center, .flex-row-desk.top-center, .flex-row-mid.top-center, .flex-row-sml.top-center { align-items: start; justify-content: center; }
.flex-column.top-start, .flex-column-desk.top-start, .flex-column-mid.top-start, .flex-column-sml.top-start { justify-content: start; align-items: start; }
  .flex-row.top-start, .flex-row-desk.top-start, .flex-row-mid.top-start, .flex-row-sml.top-start { align-items: start; justify-content: start; }
.wrap { flex-wrap: wrap; }
.bold { font-weight: bold; }
.bold200 { font-weight: 200; }
.bold400 { font-weight: 400; }
.bold500 { font-weight: 500; }
.bold600 { font-weight: 600; }
.bold700 { font-weight: 700; }
.bold800 { font-weight: 800; }
.bold900 { font-weight: 900; }
.capitalize { text-transform: capitalize !important; }
.color-caution, .color-caution a { color: var(--caution); filter: var(--sepia); }
.color-danger, .color-danger a { color: var(--danger); filter: var(--sepia); }
.color-success, .color-success a { color: var(--success); filter: var(--sepia); }
.color1, .color1 a { color: var(--back-color); }
.color2, .color2 a { color: var(--back-color2) !important; }
.color3, .color3 a { color: var(--back-color3) !important; }
.color4, .color4 a { color: var(--back-color4) !important; }
.color5, .color5 a { color: var(--back-color5) !important; }
.color5-hover, .color5-hover a { color: var(--back-color5); transition: var(--transition); }
.color5-hover:hover, .color5-hover:hover a { color: var(--back-color5-hover); }
.color6, .color6 a { color: var(--back-color6) !important; }
.color7, .color7 a { color: var(--back-color7) !important; }
.color8-hover, .color8-hover a { color: var(--back-color8); transition: var(--transition); }
.color8-hover:hover, .color8-hover:hover a { color: var(--back-color8-hover); }
.display-1 { font-weight: 700; font-size: 64px; }
.display-2 { font-weight: 700; font-size: 54px; }
.display-3 { font-weight: 700; font-size: 44px; }
.font-alumini { font-family: var(--font3) !important; line-height: 0.7em; }
.font-roboto-condensed { font-family: var(--font2) !important; }
.ita { font-style: italic !important; }
.lower { text-transform: lowercase !important; }
.text-c { text-align: center !important; }
.text-l { text-align: left !important; }
.text-outline { text-shadow: 0px 0px 3px rgb(0, 0, 0); }
.text-protected { -webkit-touch-callout: none; user-select: none; }
.text-r { text-align: right !important; }
.textb, .textb a { color: black !important; }
.textc, .textc a { color: var(--text-secondary) !important; }
.texto, .texto a { color: var(--text-primary) !important; }
.textw, .textw a { color: white !important; }
.title { font-size: 35px; font-weight: 400; margin: 0px; padding: 0px; text-wrap: balance; }
.upper { text-transform: uppercase !important; }
.center-grid-y { display: grid; align-content: center; }
.col-1 { grid-template-columns: repeat(1, 1fr); }
.col-12 { grid-template-columns: repeat(12, 1fr); }
.col1 { grid-template-columns: repeat(1, 1fr); }
.col2 { grid-template-columns: repeat(2, 1fr); }
.grid { display: grid; }
.grid-center { display: grid; height: 95vh; align-content: center; justify-content: center; }
.span-1 { grid-column: span 1; }
.span-12 { grid-column: span 12; }
.absolute { position: absolute; }
.bottom { bottom: 0%; }
.fixed { position: fixed !important; }
.float-end { float: inline-end !important; }
.float-start { float: inline-start !important; }
.floatl { float: left !important; }
.floatr { float: right !important; }
.left { left: 0%; }
.relative { position: relative; }
.right { right: 0%; }
.sticky { position: sticky !important; }
.sticky-bottom { position: -webkit-sticky; position: sticky !important; bottom: 0; height: 5px; }
.sticky-top { position: sticky !important; top: 0%; }
.top { top: 0%; }
.top2 { top: 2%; }
.br0 { border-radius: 0px !important; overflow: clip; }
.br10 { border-radius: 10px !important; overflow: clip; }
.br100 { border-radius: 100px !important; overflow: clip; }
.br12 { border-radius: 12px !important; overflow: clip; }
.br15 { border-radius: 15px !important; overflow: clip; }
.br20 { border-radius: 20px !important; overflow: clip; }
.br25 { border-radius: 25px !important; overflow: clip; }
.br30 { border-radius: 30px !important; overflow: clip; }
.br5 { border-radius: 5px !important; overflow: clip; }
.br50 { border-radius: 50px !important; overflow: clip; }
.brtl10 { border-top-left-radius: 10px !important; }
.brtr10 { border-top-right-radius: 10px !important; }
.h-2 { height: 2%; }
.h-dvh { height: 100dvh; }
.h-vh { height: 100vh; }
.h1 { height: 1%; }
.h100 { height: 100%; }
.h2 { height: 2%; }
.h3 { height: 3%; }
.hem20 { min-height: 20em; }
.hem5 { min-height: 5em; }
.hpx100 { height: 100px; }
.hpx120 { height: 120px; }
.hpx22 { height: 22px; }
.hpx25 { height: 25px; }
.hpx30 { height: 30px; }
.hpx40 { height: 40px; }
.hpx50 { height: 50px; }
.hpx65 { height: 65px; }
.hpx70 { height: 70px; }
.hpx80 { height: 80px; }
.m0 { margin: 0px; }
.m12 { margin: 12px; }
.m20 { margin: 20px; }
.m5 { margin: 5px; }
.mb10 { margin-bottom: 10px; }
.mb5 { margin-bottom: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml5 { margin-left: 5px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.mr5 { margin-right: 5px; }
.mt0 { margin-top: 0px; }
.mt10 { margin-top: 10px; }
.mt16 { margin-top: 16px; }
.mt20 { margin-top: 20px; }
.mt5 { margin-top: 5px; }
.p0 { padding: 0px !important; }
.p10 { padding: 10px !important; }
.p15 { padding: 15px !important; }
.p2 { padding: 2px !important; }
.p20 { padding: 20px !important; }
.p25 { padding: 25px !important; }
.p3 { padding: 3px !important; }
.p30 { padding: 30px !important; }
.p5 { padding: 5px !important; }
.p7 { padding: 7px !important; }
.pb0 { padding-bottom: 0px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb100 { padding-bottom: 100px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb5 { padding-bottom: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr30 { padding-right: 30px !important; }
.pr45 { padding-right: 45px !important; }
.pt0 { padding-top: 0px !important; }
.pt10 { padding-top: 10px !important; }
.pt100 { padding-top: 100px !important; }
.pt30 { padding-top: 30px !important; }
.pt40 { padding-top: 40px !important; }
.pt8 { padding-top: 8px !important; }
.pt80 { padding-top: 80px !important; }
.w100 { width: 100%; }
.w3 { width: 3%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w80 { width: 80%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.wpx100 { width: 100px; }
.wpx1000 { width: 1000px; }
.wpx140 { width: 140px; }
.wpx200 { width: 200px; }
.wpx22 { width: 22px; }
.wpx25 { width: 25px; }
.wpx30 { width: 30px; }
.wpx320 { width: 320px; }
.wpx40 { width: 40px; }
.wpx460 { width: 460px; }
.wpx50 { width: 50px; }
.wpx520 { width: 520px; }
.wpx580 { width: 580px; }
.wpx610 { width: 610px; }
.wpx630 { width: 630px; }
.wpx65 { width: 65px; }
.wpx70 { width: 70px; }
.wpx80 { width: 80px; }
.x1 { font-size: 1px; }
.x12 { font-size: 12px; }
.x14 { font-size: 14px; }
.x16 { font-size: 16px; }
.x17 { font-size: 17px; }
.x18 { font-size: 18px; }
.x2 { font-size: 2px; }
.x20 { font-size: 20px; }
.x22 { font-size: 22px; }
.x25 { font-size: 25px; }
.x28 { font-size: 28px; }
.x30 { font-size: 30px; }
.x4 { font-size: 4px; }
.x40 { font-size: 40px; }
.x50 { font-size: 50px; }
.x64 { font-size: 64px; }
.block { display: block !important; }
.grid-row-center { justify-items: center; }
.hidden { display: none !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }
.logo { height: 40px; width: auto; margin-right: 10px; padding: 5px 0px; object-fit: cover; }
.textareaResize { field-sizing: content; }

/* --- Media Queries --- */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container-mid { max-width: 90%; width: var(--width-window); margin: 0 auto; }

}
@media screen and (max-width: 576px) {
  .container-sml { max-width: 90%; width: var(--width-window); margin: 0 auto; }

}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container-xl-mid { width: 100%; margin: 0px; max-width: none; }

}
@media screen and (max-width: 576px) {
  .container-xl-sml { width: 100%; margin: 0px; max-width: none; }

}
@media screen and (max-width: 576px) {
  .gap-sml-5 { gap: 5px; }
}
@media screen and (max-width: 576px) {
  .gap-sml-8 { gap: 8px; }
}
@media screen and (max-width: 576px) {
  .flex-column.center-center-sml, .flex-column-desk.center-center-sml, .flex-column-mid.center-center-sml, .flex-column-sml.center-center-sml { justify-content: center !important; align-items: center !important; }
  .flex-row.center-center-sml, .flex-row-desk.center-center-sml, .flex-row-mid.center-center-sml, .flex-row-sml.center-center-sml { align-items: center !important; justify-content: center !important; }
}
@media screen and (min-width: 993px) {
  .flex-column-desk { display: flex !important; flex-direction: column !important; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .flex-column-mid { display: flex !important; flex-direction: column !important; }
}
@media screen and (max-width: 576px) {
  .flex-column-sml { display: flex !important; flex-direction: column !important; }
}
@media screen and (min-width: 993px) {
  .flex-row-desk { display: flex !important; flex-direction: row !important; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .flex-row-mid { display: flex !important; flex-direction: row !important; }
}
@media screen and (max-width: 576px) {
  .flex-row-sml { display: flex !important; flex-direction: row !important; }
}
@media screen and (min-width: 993px) {
  .flex-column.top-center-desk, .flex-column-desk.top-center-desk, .flex-column-mid.top-center-desk, .flex-column-sml.top-center-desk { justify-content: start !important; align-items: center !important; }
  .flex-row.top-center-desk, .flex-row-desk.top-center-desk, .flex-row-mid.top-center-desk, .flex-row-sml.top-center-desk { align-items: start !important; justify-content: center !important; }
}
@media screen and (max-width: 576px) {
  .flex-column.top-start-sml, .flex-column-desk.top-start-sml, .flex-column-mid.top-start-sml, .flex-column-sml.top-start-sml { justify-content: start !important; align-items: start !important; }
  .flex-row.top-start-sml, .flex-row-desk.top-start-sml, .flex-row-mid.top-start-sml, .flex-row-sml.top-start-sml { align-items: start !important; justify-content: start !important; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .col-mid-1 { grid-template-columns: repeat(1, 1fr); }
}
@media screen and (max-width: 576px) {
  .col-sml-1 { grid-template-columns: repeat(1, 1fr); }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .span-mid-1 { grid-column: span 1; }
}
@media screen and (max-width: 576px) {
  .span-sml-1 { grid-column: span 1; }
}
@media screen and (min-width: 993px) {
  .br-desk-100 { border-radius: 100px !important; overflow: clip; }
}
@media screen and (min-width: 993px) {
  .br-desk-15 { border-radius: 15px !important; overflow: clip; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .br-mid-100 { border-radius: 100px !important; overflow: clip; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .br-mid-15 { border-radius: 15px !important; overflow: clip; }
}
@media screen and (max-width: 576px) {
  .br-sml-0 { border-radius: 0px !important; overflow: clip; }
}
@media screen and (max-width: 576px) {
  .br-sml-15 { border-radius: 15px !important; overflow: clip; }
}
@media screen and (min-width: 993px) {
  .brtl-desk-30 { border-top-left-radius: 30px !important; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .brtl-mid-30 { border-top-left-radius: 30px !important; }
}
@media screen and (max-width: 576px) {
  .brtl-sml-0 { border-top-left-radius: 0px !important; }
}
@media screen and (min-width: 993px) {
  .brtr-desk-30 { border-top-right-radius: 30px !important; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .brtr-mid-30 { border-top-right-radius: 30px !important; }
}
@media screen and (max-width: 576px) {
  .brtr-sml-0 { border-top-right-radius: 0px !important; }
}
@media screen and (min-width: 993px) {
  .h-dvh-desk { height: 100dvh; }
}
@media screen and (max-width: 576px) {
  .h-dvh-sml { height: 100dvh; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .m-mid-15 { margin: 15px; }
}
@media screen and (max-width: 576px) {
  .p-sml-0 { padding: 0px !important; }
}
@media screen and (max-width: 576px) {
  .p-sml-10 { padding: 10px !important; }
}
@media screen and (max-width: 576px) {
  .p-sml-15 { padding: 15px !important; }
}
@media screen and (max-width: 576px) {
  .p-sml-20 { padding: 20px !important; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .pb-mid-200 { padding-bottom: 200px !important; }
}
@media screen and (max-width: 576px) {
  .pb-sml-100 { padding-bottom: 100px !important; }
}
@media screen and (max-width: 576px) {
  .pl-sml-10 { padding-left: 10px !important; }
}
@media screen and (max-width: 576px) {
  .pr-sml-10 { padding-right: 10px !important; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .pt-mid-150 { padding-top: 150px !important; }
}
@media screen and (max-width: 576px) {
  .pt-sml-10 { padding-top: 10px !important; }
}
@media screen and (max-width: 576px) {
  .pt-sml-20 { padding-top: 20px !important; }
}
@media screen and (min-width: 993px) {
  .w-desk-100 { width: 100%; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .w-mid-0 { width: 0%; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .w-mid-100 { width: 100%; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .w-mid-50 { width: 50%; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .w-mid-70 { width: 70%; }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .w-mid-90 { width: 90%; }
}
@media screen and (max-width: 576px) {
  .w-sml-0 { width: 0%; }
}
@media screen and (max-width: 576px) {
  .w-sml-100 { width: 100%; }
}
@media screen and (max-width: 576px) {
  .w-sml-90 { width: 90%; }
}
@media screen and (max-width: 576px) {
  .w-sml-95 { width: 95%; }
}
@media screen and (min-width: 993px) { .no-desk, .no-desk-css { display: none !important; } }
@media screen and (min-width: 993px) { .no-desk, .no-desk-css { display: none !important; } }
@media screen and (max-width: 576px) { .no-phone, .no-phone-css { display: none !important; } }
@media screen and (max-width: 576px) { .no-phone, .no-phone-css { display: none !important; } }
@media screen and (min-width: 577px) and (max-width: 992px) { .no-tablet, .no-tablet-css { display: none !important; } }
@media screen and (min-width: 577px) and (max-width: 992px) { .no-tablet, .no-tablet-css { display: none !important; } }
