:root{
  --back-body-theme: #ffffff;
  --back-item : #e4e4e4;
  --back-sidebar : #e6e6e6;
  --text-item-sidebar : #353535;
  --color-card-share-profile : #595a83;
}

[data-theme="dark"] {
  --back-body-theme: #353535;
  --back-item : #2e2e2e;
  --back-sidebar : #1b1b1b;
  --text-item-sidebar : #e6e6e6;
}

.tl-max-reached {
    color: red !important;
    font-weight: bold;
}

/*Card share de perfil de usuario*/
.opacity-slide-circle{
  opacity: 0.5;
}

.btn-share-profile-style1{
  background-color: #e2e2e2;
  box-shadow: inset 5px 5px 15px rgb(255, 255, 255), inset 2px 2px 5px rgb(255, 255, 255), inset -3px -3px 15px #a8a8a8, inset -1px -1px 3px #a8a8a8;
  color: var(--color-card-share-profile);
}

.btn-share-profile{
  color: var(--color-card-share-profile);
  border: solid 2px var(--color-card-share-profile);
  &:hover{border: solid 2px #444564;color: #444564;}
}

.btn-share-register{
  background-color: var(--color-card-share-profile);
  color: #ffffff;
}

.btn-share-see-more{
  background-color: #ffffff00;
  border: solid 2px var(--color-card-share-profile);
  color: var(--color-card-share-profile);
}

.back-body{
  background-color: var(--back-body-theme);
}

.shadow-menu{
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.back-menu-card{
  background-color: #ffffff00;
  &:hover{
    background-color: var(--back-color3);
  }
}

.shadow-card{
  box-shadow: 0px 0px 80px #0000006b;
}

.shadow-card-preview{
  outline: solid 10px #ffffffad;
}

.back-modal-item{
  background-color: var(--back-item);
}

.back-menu-sidebar{
  background-color: var(--back-sidebar);
}

.back-item-sidebar-hover{
  background-color: #ffffff00;
  &:hover{
    background-color: #cecece;
  }
}

.back-item-active{
  background-color: #cecece;
}

.closed-modal-preview{
  background-color: #000000;
  color: #ffffff;
  &:hover{
    background-color: #464646;
  }
}

.border-card-modal{
  border: #bdbdbd solid 1px;
}

.image-protected{
  -webkit-user-select: none; /* Para Safari */
  user-select: none; /* Estándar moderno */
}

.shadow-1{
  box-shadow: 0px 0px 10px #00000033;
}

.shadow-2{
  box-shadow: 5px 5px 5px #00000033;
}

/*.shadow-3 se encuentra en style.css.php ya que cuenta con variables para el color de la sombra*/

.text-menu-modal{
  color: #252525;
}

.faded-image{
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.faded-radial-image{
  -webkit-mask-image: radial-gradient(circle, black 40%, transparent 100%);
  mask-image: radial-gradient(circle, black 40%, transparent 100%);
}

.hpxm550{
  max-height: 550px;
}

.hpxm230{
  max-height: 230px;
}

.color-icon-accordion{
  color: #9b9b9b;
}

.panel-sidebar{
  min-width: 250px;
}

.panel-container{
  width: calc(100% - 800px);
  min-width: 550px;
}

.preview-profile {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-width: none; /* Oculta la barra en Firefox */
  -ms-overflow-style: none;  /* Oculta la barra en Internet Explorer y Edge antiguo */
  height: 950px !important;
}
/* Oculta la barra en navegadores basados en WebKit (Chrome, Safari, Opera, Edge Nuevo) */
.preview-profile::-webkit-scrollbar {
  display: none;
}
.user-profile-preview a,
.user-profile-preview .modal-btn,
.user-profile-preview .theme-button {
  pointer-events: none !important;
  cursor: default !important;
}

/*Estilo del input:radio*/
.hidden-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/*estilo para los elementos de formularios en el content de panel*/
.border-selected-item{
  border: dashed 3px #1b1b1b !important;
}

.border-item-panel{
  border-style: solid;
  border-color: #1b1b1b;
  border-width: 1px;
}

.button-style-background{
  background-color: #838383;
  border-radius: 15px;
  padding: 15px 20px;
  min-width: 120px;
}

.button-fill-style{
  background-color: #f1f1f1;
  padding: 15px 20px;
  width: 100%;
}

/*background color-picker*/
.back-color-picker{
  background-color: #e7e7e7;
}

.box-color-picker{
  box-shadow: 0px 0px 2px #000000;
}

/*Posición negativa en texto de midHero.php*/
.mmt20{
  margin-top: -20px;
}

/*desktop*/
@media screen and (min-width: 993px) {



}

/*tablet*/
@media screen and (min-width: 577px) and (max-width: 992px) {

  .panel-container{
    width: calc(100% - 250px);
  }

}

/*desktop y tablet*/
@media screen and (min-width: 577px) {

  .dvh-cuaderno {
    min-height: calc(100dvh - 40px);
  }

}

/*phone*/
@media screen and (max-width: 576px) {

  .dvh-cuaderno {
    min-height: 100dvh;
  }

  .hpxm-sml-400{
    max-height: 400px;
  }

  .hpxm-sml-150{
    max-height: 150px;
  }

}